<!-- SECTION ABOUT -->
<div id="about-container">
  <div id=resume-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <h1>Yuri Randhal Rodrigues Braga</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2>Web Developer</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="resume-about">
          <hr class="card-spacer">
          <h2> ABOUT ME </h2>
          <p>
            Recently graduated in Software Development, exploring different areas and technologies. Have preference for
            Front End development but is currently studying Full Stack (JavaScript, TypeScript, Node.JS, React, Angular,
            PHP, MongoDB, MySQL). Looking for a position where I can take big challenges and continue to learn and
            develop my career by both working with real life applications and being mentored and supported by an amazing
            team.
          </p>
          <p>
            <b>Currently learning:</b> Angular, TypeScript, HTML, CSS & Sass
          </p>
          <hr class="card-spacer">
        </div>
        <div class="wrap-cols">
          <div class="resume-col-1">
            <div class="resume-experience">
              <h2>
                <mat-icon color="primary">|</mat-icon> EXPERIENCE
              </h2>
              <p>
                <b>Job: </b>
              </p>
              <p>
                Technology and Support Intern
              </p>

              <p>
                <b>Company: </b>
              </p>
              <p>
                Colégio Almirante Monteiro
              </p>
              <p>
                <b>Period: </b>
              </p>
              <p>
                dec. de 2020 – mar. de 2021 (4 Months)
              </p>
              <p>
                <b>Local: </b>
              </p>
              <p>
                Diadema, São Paulo, Brasil

              </p>
              <p><b>Description: </b></p>
              <p>
                Founded in 2009 in Diadema, SP, the Colégio Almirante Monteiro has the mission of developing creativity,
              </p>
              autonomy, critical thinking, ethics and citizenship in all of the students.
              <p>
                Worked as a Technology and IT Support intern for the school.
              </p>
              <b>Main achievements:</b>
              <p>
                • School website – Redesigned and maintained the WordPress website, added small features (360 view)
              </p>
            </div>
            <div class="resume-courses">
              <h2>
                <mat-icon color="primary">|</mat-icon> Certification
              </h2>
              <a href="https://hermes.digitalinnovation.one/certificates/6F8774C8.pdf"><b> Digital Innovation One </b>- Introdução ao Typescript: Explorando Classes, Tipos e Interfaces</a>
              <br>
              <a href="https://cursos.dankicode.com/certificados?view=6533"><b> Danki Code </b>- Curso Banco de Dados</a>
              <br>
              <a href="https://cursos.dankicode.com/certificados?view=6532"><b> Danki Code </b>- Curso Webmaster Front-End Completo</a>
              <br>
              <a href="https://cursos.dankicode.com/certificados?view=6534"><b> Danki Code </b>- Curso Web Design Express </a>
            </div>
          </div>
          <div class="resume-col-2">
            <div class="resume-col-skills">
              <h2>
                <mat-icon color="primary">|</mat-icon> SKILLS
              </h2>
              <h3>Front-end Skills:</h3>
              <p>
                HTML,
                CSS,
                Javascript,
                Angular,
                Typescript.
              </p>

              <h3>Back-end Skills:</h3>
              <p>
                NodeJs,
                PHP,
                MySQL,
                MongoDB.
              </p>
            </div>
            <div class="resume-col-education">
              <h2>
                <mat-icon color="primary">|</mat-icon> EDUCATION
              </h2>
              <h3>Degree:</h3>
              <p>
                Technologist in analisys and systems development
              </p>
              <h3>University:</h3>
              <p> Universidade Estácio de Sá
              </p>
              <h3>Local:</h3>
              <p>
                Santo André - São Paulo (Brazil)
              </p>
              <h3>Duration :</h3>
              <p>
                January 2019 - June 2021
              </p>
              <h3>Status:</h3>
              <p>
                Completed
              </p>

            </div>
            <div class="resume-col-languages">
              <h2>
                <mat-icon color="primary">|</mat-icon> LANGUAGES
              </h2>
              <p>
                Portuguese (Brazilian) - Native
              </p>
              <p>
                English - Intermediate
              </p>
            </div>
            <div class="resume-col-interests">
              <h2>
                <mat-icon color="primary">|</mat-icon> INTERESTS
              </h2>
              <p>
                Problem solving, learning new technologies ,CTF (Capture the Flag) puzzles, enjoyning my family.
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="download-resume-button">
    <a mat-flat-button href="../../assets/img/resume.pdf" color="primary">DOWNLOAD RESUME<mat-icon>download</mat-icon></a>
  </div>
</div>