
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personal-portfolio-primary: mat.define-palette(mat.$cyan-palette);
$personal-portfolio-accent: mat.define-palette(mat.$teal-palette);

// The warn palette is optional (defaults to red).
$personal-portfolio-warn: mat.define-palette(mat.$blue-grey-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personal-portfolio-theme: mat.define-light-theme((
  color: (
    primary: $personal-portfolio-primary,
    accent: $personal-portfolio-accent,
    warn: $personal-portfolio-warn,
  )
));

$personal-portfolio-theme-dark: mat.define-dark-theme((
  color: (
    primary: $personal-portfolio-accent,
    accent: $personal-portfolio-primary,
    warn: $personal-portfolio-warn,
  )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-dark {@include mat.all-component-themes($personal-portfolio-theme-dark);}
.theme-light {@include mat.all-component-themes($personal-portfolio-theme);}