#projects-container{
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    h1{
      text-align: center;
    }
    .projects-wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3%;
      .project{
        border: 1px solid;
        width: 30%;
        min-width: 220px;
        padding: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
          h1{
            font-size: 1.6rem;
          }
          img{
            width: 75%;
            border: 3px solid ;
            min-width: 200px;
            margin: 0 auto;
          }
          mat-card-actions{
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            a{
              font-family: 'Montserrat', sans-serif;
              border-radius: 4px;
              border: none;
              color: #FFFFFF;
              text-align: center;
              font-size: 16px;
              padding: 15px;
              width: 150px;
              transition: all 0.5s;
              cursor: pointer;
              margin: 5px;
              }
              a span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
              }
              
              a span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
              }
              
              a:hover span {
                padding-right: 25px;
              }
              
              a:hover span:after {
                opacity: 1;
                right: 0;
              }
          }

      }
    }
  }