<div class="form-header"><h1> Get in Touch !</h1></div>
<div class='form-wrapper'>
    <div class="form-text">
        <form action="https://formsubmit.co/bcaeca03a651b6c48e77bf7beccd29ab" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Name: </label><br>
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                    </div>
                    <div class="col">
                        
                        <label>E-mail: </label><br>
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                    </div>
                </div>
            </div>
            <div class="form-group"> 
                <label>Message: </label><br>
                <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="form-submit-btn">
                <button mat-flat-button color="primary" type="submit">Submit Form</button>
            </div>
        </form>
    </div>
</div>