<div id="home-container">
  <div class="hero-text">
    <h1 class="glitch">
      <span aria-hidden="true">Yuri Randhal Rodrigues Braga</span>
      Yuri Randhal Rodrigues Braga
      <span aria-hidden="true">Yuri Randhal Rodrigues Braga</span>
    </h1>
  </div>
</div>
<hr>
<h1 class="motivations-title">My Personal Motivations😉</h1>
<div class="motivations-block">
  <div class="motivation-topic-1">
    <h2>Self Development</h2>
    <img src="../../assets/img/strongman.gif">
    <p>"My biggest goal is to always be evolving, becoming a better professional and a better person. I am always
      willing to learn and fix my mistakes (and never ignore them), i have the need to be learning new technologies and
      developing what i already know to ever higher standards, i want to be in a company that mainly allows me to grow
      and learn a lot and in exchange i will do my best for the company to grow too"
    </p>
  </div>
  <div class="motivation-topic-2">
    <h2>Learning About Technology</h2>
    <img src="../../assets/img/programming.gif">
    <p>"For me it is not satisfactory to reach the minimum possible, I am inspired by the biggest and the best and I
      want to be at their level, every day I study a lot, i love solving problems, love technology and i love
      everything that technology allows us to achieve"
    </p>
  </div>
  <div class="motivation-topic-3">
    <h2>My Family</h2>
    <img src="../../assets/img/family.png">
    <p>"My wife and son are my life and it is for them that I strive to be better and better, I want to provide them
      with
      all the best and I want my son to find the necessary inspiration in me to realize that with effort, study and hard
      work he can achieve whatever he wants "
    </p>
  </div>
</div>